
.buttonCode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: .8rem;
  transform: translateY(0);
  transition: transform 0.2s ease-out;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: .8rem;
  transform: translateY(0);
  transition: transform 0.2s ease-out;
}

.button:hover, .buttonCode:hover {
  transform: translateY(-3px);
}

.button:active, .buttonCode.active {
  transform: translateY(-6px);
  transition: transform 0.2s ease-in;
}



