.main {
  background-image: url("../assets/bg1.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  height: 100%;
}


.hello {
  background-image: url("../assets/bg1.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}
