.aboutContainer {
    background-color: rgb(77, 2, 77, 0.8);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 14vh;
    flex-wrap: wrap;
}


.bioCard {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 50em;
}

.pictureContainer {
    display: flex;
    flex-direction: column;
    gap:10vh;
    margin-top: 2vh;
    margin-right: 2em;
    
}

@media (max-width: 767px) {
    .aboutContainer {
      height: auto;
      width: auto;
      padding: 1em;
  
    }
    
    .bioCard {
      width: auto;
      height: auto;
      padding-top: 1em;
      display: flex;

    }
    
    .pictureContainer {
      margin: 0;
      gap: 2vh;
    
      
    }
  }

